.datetime {
    /* background-color: rgb(241, 198, 198); */
    display: inline-flex;
    justify-content: end;
    align-items: center;
    width: 95%;
}
body{
    /* overflow: hidden; margin: 40px; */
}
.cover { background-image: url("../image/New\ folder/like cover.jpg");
    background-size:100%;
    height:100dvh;
    
}
.abcd{display: inline-flex;
justify-content: end;
width: 97%;
}
nav > ul{
    display:flex;
      }
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 10px;
    }
nav li a{ text-decoration: none;
    color: rgb(235, 91, 91);
    border: solid 2px;
    padding: 10px;
    border-radius: 50px 15px;
    }
    nav li:hover{ 
        background-color: rgb(190, 230, 190);
        border-radius: 50px 15px ;

    }
    

    